; JOSYN Bootstrap Configuration
; -------------------------------------------------------
; Copy this file to josyn.bootstrap.ini and fill in the
; values for this installation (one file per environment).
; Do not check josyn.bootstrap.ini into source control.
; -------------------------------------------------------

SessionStoreConnectionString=Server=localhost\SQLEXPRESS01;Database=josyn-db-local;User Id=tu.josyn;Password=josyn;TrustServerCertificate=True;
; ConfigSourceType=HAEVG.Josyn.Adapter.HaevgConfigSource, HAEVG.Josyn.Adapter
